body {
    background: #222;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff0055;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
